<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/common/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./ui/css/ui.min.css">
    <link rel="stylesheet" href="./css/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw==" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="">
<!-- <header>
    <ul class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Link 1</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Link 2</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Link 3</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Link 4</a></li>
    </ul>
</header> -->