.card {
    padding: em(40px, 16px);
    background-color: var(--color-default);
    border-radius: 12px;
    
    &--lg {
        padding: em(60px, 16px);
    }

    &--sm {
        padding: em(20px, 16px);
    }

    &__header {
        padding-bottom: em(40px, 16px);
    }

    &__footer {
        padding-top: em(40px, 16px);
    }
}