.card {
    padding: em(40px);
    background-color: var(--color-default);
    border-radius: 12px;
    
    &--lg {
        padding: em(60px);
    }

    &--sm {
        padding: em(24px);
    }

    &__header {
        
    }

    &__title {
        font-family: 'Montserrat';
        font-size: em(24px);
        font-weight: 500;
    }

    &__body {
        padding: em(20px) 0;
    }

    &__footer {
        
    }
}