

.subtitle {
    margin-top: -0.5em;
    margin-bottom: em(24px);
    color:  var(--color-gray-xl);
    font-weight: 400;

    &--xxl{
        font-size: 1.375em;
    }

    &--xl{
        font-size: 1.25em;
    }

    &--lg{
        font-size: em(14px);
    }

    &--md{
        font-size: em(14px);
    }

    &--sm{
        font-size: em(18px);
    }

    &--xs{
        font-size: em(16px);
    }

}