.body-lock {
    padding-right: 17px;

    @media (max-width: 999.98px) {
        padding-right: 0;
    }
}

[data-disabled*="disabled"], [disabled] {
    opacity: 0.4;
}

.panel-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(#fff, 0.9);
    opacity: 0;
    transition: opacity 0.35s ease-in-out, 0.1s, left 0.3s ease-in-out 0.3s;

    &--active {
        left: 0;
        opacity: 1;
        transition: opacity 0.35s ease-in-out, left 0s ease-in-out 0s;
    }
}

.box-shadow{
    box-shadow: 0 10px 30px rgba(0,0,0,0.075);
}