:root {
    --color-orange: #FF5500;
    --color-red: #F52B2B;
    --color-green: #2ADE47;
    --color-yellow: #FAE631;
    --color-white: #FFFFFF;
    --color-gray-xxl: #404040;
    --color-gray-xl: #777777;
    --color-gray-lg: #A1A1A1;
    --color-gray-md: #C4C4C4;
    --color-gray-sm: #EDEDED;
    --color-gray-xs: #F9F9F9;
    --color-dark-xxl: #0C0C0C;
    --color-dark-xl: #0E0E0E;
    --color-dark-lg: #1A1A1A;
}
