.section {
    padding-top: em(40px, 16px);
    padding-bottom: em(40px, 16px);
       
    &--lg {
        padding-bottom: em(80px, 16px);
        padding-top: em(80px, 16px);
    }

    &--default {
        background-color: var(--color-default);
    }

    &__title {
        margin-bottom: em(32px, 16px);
    }
}